<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <seven-segment-digit [height]="200" [width]="144" [character]="char1"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char2"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char3"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char4"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char5"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char6"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char7"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char8"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char9"  [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char10" [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char11" [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <seven-segment-digit [height]="200" [width]="144" [character]="char12" [shadowBlur]="20" [colorOn]="'#ff789a'" [colorOff]="'rgba(255, 255, 255, 0.1)'" [shadowColor]="'#ff0040'" [backgroundColor]="'#16161a'"></seven-segment-digit>
    <!-- <seven-segment-digit [character]="char1"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char2"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char3"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char4"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char5"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char6"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char7"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char8"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char9"  [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit>
    <seven-segment-digit [character]="char10" [shadowBlur]="40" [colorOn]="'#ffdd8f'" [shadowColor]="'#ff9a1f'" [backgroundColor]="'#1f1316'"></seven-segment-digit> -->
</body>

</html>