html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1080px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    div {
        display: inline-block;
    }
}